.box{
  height: 95vh;
  width: 100vw;
  background: linear-gradient(to bottom right, #2D3735, #5F5F37);
  padding: 10% ;
}

.about_img{
 
  margin-bottom: 20%;
  height: 60vh;
  margin-right: 52%;

}

.about-content{
  height: 100%;
  display: table;
  color: antiquewhite;
  justify-content: right;
  margin-top: -40rem;
  margin-left: 50rem;
}

