#fa{
    padding: 100px;
    text-align: center;
    background-color: rgb(42, 26, 42)
}

.fa-column{
    padding: 3% 2%;
}


.card {
    position: relative;
    padding: 25px 15px;
    margin: 50px 0;
    height: 500px;
    box-shadow: 0 2px 5px #ccc;
    text-align: left;
}

.card-header {
    height: 120px;
    width: 100%;
    background-color: #00cec9;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}
