.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
}

body{
    background: linear-gradient(to bottom right, rgba(78, 79, 125, 1.0), rgba(189, 98, 187, 1.0));
    opacity: 90%;
    text-align: center;
    overflow-x: hidden; /*for removing horizontal scroll*/
}

h1{
    color: aliceblue;
    font-weight: bold;
    margin-top: 24.4%;
    margin-left: 25%;
    height: 20%;
    font-size: 4.5rem;
    text-align: left;
}

h5{
    color: wheat;
    margin-top: 20%;
    margin-left: 25%;
    font-size: 1.445rem;
    text-align: left;
    font-weight: light;
}


.download-button{
    margin: 5% 0.5% 1% 3%;
    text-align: left;
    
}

.coding{
    margin-left: 125%;
    width: 60%;
    height: 30%;
    margin-top: -110%;
}

.codingboy{
    margin-left: 110%;
    margin-top: -70%;
    height: 25rem;
}

